@model GitAspx.ViewModels.DirectoryListViewModel
@using GitAspx;
<h1>Repositories</h1>		
<ul id="repositories">
	@foreach (var repository in Model.Repositories) {
		<li>
			<p>
				<strong>@repository.Name</strong>
				<span>(@Url.ProjectUrl(repository.Name))</span>
			</p>
			<blockquote>@repository.LatestCommitInfo</blockquote>
		</li>
	}
</ul>

<h3>Create new repository</h3>
<form action="@Url.Action("Create", "DirectoryList")" method="post">
	<p>
		<input type="text" name="project" />
		<input type="submit" value="Create"/>
	</p>
</form>
